@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

*,
*::after,
* ::before {
  box-sizing: border-box;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 16px;
}
